.nav {
	background-color: #ECEFF1;
	border-radius: 2px;
	padding: 10px 0;
	align-items: center;
}

.nav-link {
	padding: 0 20px;
	font-size: 22px;
}

.sign-in {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;
	flex-grow: 1;
}

.sign-in button {
	margin-top: 0;
}

.sign-in__item {
	transition: all 0.2s ease;
	padding: 10px 20px;
}

.sign-in__item:hover {
	
	background: #d5e5f0;
	cursor: pointer;
}
