.catch-btn {
    background-color: rgba(30, 30, 255, 0.5);
    border: 0;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 1em;
}

.catch-btn.disabled {
    background-color: rgba(30, 30, 255, 0.1);
}