body {
  font-family: Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
@font-face {
  font-family: "PokemonFont";
  src: url("/frontend/src/fonts/PokemonSolid.ttf");
}
