/** Add your own values to variables
 * 
 * If you use local database, do not use USER, PASSWORD, HOST varibles
 * without those variables you will be connected to local database
 *
 * Without SERVERPORT variable server will be connected to port 3000
 */

USER = database username
PASSWORD = password to database
HOST = host
DBPORT = database port
NAME = name of the database
KEY = secret key to jsonwebtoken
SERVERPORT = server port