.login-page-block{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-page-block h3{
	margin-bottom: 25px;
}

.login-page-block form{
	width: 400px;
	max-width: 100%;
	box-shadow: 1px 1px 3px #aaa;
	padding: 25px
}

.login-page-block form label>*,
.login-page-block form>*{
	display: block;
	text-align: left
}

.login-page-block label{
	margin-bottom: 10px;
}

.login-page-block label:last-child{
	margin-bottom: 0
}

.login-page-block input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
	box-shadow: 0 0 1px#bbb;
	outline-color: #ff8096
}

.login-page-block label span{
	margin-bottom: 7px;
	letter-spacing: 1px
}

.login-page-block form button[type="submit"]{
	font-size: 1.1rem;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
	background: #ff8096;
	text-align: center;
	margin-top: 35px
}

.sign-up-request{
	font-size: 12px;
	margin-top: 10px;
	text-align: center !important;
	color: #aaa;
}

.sign-up-request #sign-up{
	color: #ff8096;
	opacity: 0.8;
	transition: .1s;
	background: transparent;
	border: none;
	font-size: 13px;
	display: inline-block;
	cursor: pointer
}

.sign-up-request #sign-up:hover{
	opacity: 1;
	color: #ff8096;
	text-decoration: none
}
